.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;

  background-color: $basic-green;
  border: none;

  cursor: pointer;
}
