.case {
  color: $basic_black;
  background-color: #eaeaea;
}

.case__container {
}

.case__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic_black;
}

.case__result {
}

.case__photo {
}
