.catalog {
  color: $basic-black;

  background-color: $basic-white;
}

//.catalog__container {}

.catalog__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
}

.catalog_list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

//.catalog__item {}
