//.character {}

.character__value {
  display: block;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.character__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $special-dark-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}
