.container {
  max-width: $mobile-width-container;
  margin: 0 6.25%;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width-container;
    margin: 0 3.9%;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width-container;
    margin: 0 auto;
  }
}
