.contacts {
  color: $basic-black;

  background-color: $basic-white;
}

.contacts__container {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 0;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 60px 0 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 565px;
    min-height: 198px;
    padding: 60px 80px 56px;
  }
}

.contacts__prompt {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.contacts__location {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map {
  display: block;
  height: 100%;

  color: $basic-black;

  border: none;
  background-color: $basic-grey;
}
