.control {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
    padding-left: 60px;
  }

  &:focus-visible {
    outline: 2px solid $special-grey-2;
  }

  cursor: pointer;
}

//.control__input {}

//.control__mark {}

.control__input--checkbox + .control__mark {
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border: 1px solid #bababa;
  }
}

.control__input--checkbox:checked + .control__mark::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 2px;

  width: 26px;
  height: 26px;

  background-image: url("../img/form/icon_tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 7px;
    left: 7px;
  }
}

.control__input--radio + .control__mark {
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border: 1px solid #bababa;
  }
}

.control__input--radio:checked + .control__mark::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 13px;
  height: 13px;

  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 10px;

    width: 18px;
    height: 18px;
  }
}

.control > .control__input:disabled ~ span {
  opacity: 0.3;
}

.control__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control__input:focus-visible + .control__mark {
  outline: 2px solid $basic-green-2;
}
