.copyright {
  width: 100%;
  padding: 21px 0;

  color: $basic-black;

  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 163px;
    padding: 0;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18.4px;
  color: $special-dark-grey;

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $basic-green-2;
    outline-offset: 2px;
  }
}

.copyright__logo-html {
  width: 27px;
  height: 34px;

  fill: $special-grey-2;
}

.copyright__link:hover > .copyright__logo-html {
  fill: $basic-green;
}
