.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $basic-black;

  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 400;
  color: $special-dark-grey;
}

.copyright__logo-html {
  width: 27px;
  height: 34px;

  outline: 1px solid #123456;
}
