.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $basic-black;

  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18.4px;
  color: $special-dark-grey;

  &:focus {
    opacity: 0.3;
  }
}

.copyright__logo-html {
  width: 27px;
  height: 34px;

  fill: $special-grey-2;

  &:hover {
    fill: $basic-green;
  }

  &:focus {
    opacity: 0.3;
    fill: $basic-green;
  }
}
