.gift {
  position: relative;

  min-height: 290px;

  color: $basic-white;

  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;

    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 289px;

    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-background-desktop@2x.jpg");
    }
  }
}

.gift__text {
  position: relative;

  padding: 187px 0 43px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $basic-white;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: 59px;
    left: 50%;

    width: 78px;
    height: 80px;
    margin-left: -40px;

    background-image: url("../img/catalog/icon_gift.svg");

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 118px;

      width: 80px;
      height: 82px;
    }

    @media (min-width: $desktop-width) {
      top: 55px;
      left: 50%;

      margin-left: -40px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 71px 0 69px 422px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 42px;

    text-align: center;
  }
}
