.gift {
  color: $basic_white;
  background-color: rgba(104, 183, 56, 0.85);
}

.gift__container {
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic_white;
  text-align: center;
}
