.info {
  color: $basic-black;
}

.info__title {
  margin-bottom: 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: $special-dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.info__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
    padding-bottom: 9px;

    border-bottom: 1px solid $special-grey;
  }
}

.info__charact,
.info__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
