.item {
  padding: 12px 0 19px;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 1px;

    background-color: $special-grey;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 25px 37px 28px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 17px;
  }
}

.item:last-child {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    height: 1px;

    background-color: $special-grey;
  }
}

.item__info {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin: 0;
    margin-right: 18px;
  }
}

.item__title {
  margin-bottom: 13px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: $special-dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.item__description {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 150px 75px;
    grid-column-gap: 10px;
    align-content: end;
    justify-items: end;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 234px 64px;
    justify-items: start;
    width: 308px;
  }
}

.item__volume,
.item__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.item__volume {
  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.item__price {
  @media (min-width: $desktop-width) {
    word-break: break-all;
  }
}

.item__buy {
  width: 100%;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
