.main-nav {
  //  display: none;
}

.main-nav__toggle {
}

.main-nav__container {
}

.main-nav__list {
  list-style-type: none;
}

.main-nav__item {
  //&__item--current {}
}

.main-nav__link {
  font-family: "OswaldMedium", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $basic_black;
  text-transform: uppercase;
}
