.page-form {
  color: $basic-black;

  background-color: $basic-white;
}

.page-form__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
}
