.page-header {
  color: $basic-black;

  background-color: $basic-white;

  &--index {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: 1;
      top: 0;

      align-self: center;
      width: $desktop-width-container;

      background-color: transparent;
    }
  }
}

.page-header__container {
  min-height: 65px;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 10px;
  }
}

.page-header__content {
  @media (max-width: $mobile-width-only) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
    padding: 10px 0 17px;
  }
}

.page-header__logo-link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $basic-green-2;
    outline-offset: 2px;
  }
}

.page-header__logo {
  display: block;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__menu-toggle {
  position: relative;

  width: 24px;
  height: 17.5px;

  background-color: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header__menu-toggle--closed {
    display: block;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 24px;
      height: 1.5px;

      background-color: $basic-black;
      box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
    }
  }

  .page-header__menu-toggle--opened {
    display: block;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 8px;
      left: 0;

      width: 24px;
      height: 1.5px;

      background-color: $basic-black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .page-header__menu-toggle--nojs {
    display: none;
  }
}
