.page-footer {
  color: $basic-black;

  background-color: $basic-grey;
}

.page-footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 236px;
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 147px;
    padding: 58px 0 55px;
  }

  @media (min-width: $desktop-width) {
    min-height: 149px;
  }
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 27px;
  }

  fill: #111111;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $basic-green-2;
    outline-offset: 2px;
  }
}

//.page-footer__logo {}

//.page-footer__social {}

//.page-footer__copyright {}
