.products {
  color: $basic-black;

  background-color: $basic-white;
}

.products__container {
  position: relative;

  padding: 78px 0 0;

  @media (min-width: $tablet-width) {
    padding: 160px 37px 37px;
  }
}

.product__content {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.products__title {
  margin-bottom: 8px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 125px;

    width: 30px;
    height: 30px;
    outline: 1px solid #123456;

    @media (min-width: $tablet-width) {
      top: 52px;
      left: 132px;

      width: 60px;
      height: 60px;
    }

    @media (min-width: $desktop-width) {
      top: 52px;
      left: 92px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.products__description {
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $special-dark-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.products__show-more {
  width: 100%;

  color: $special-dark-grey;
  text-transform: uppercase;

  background-color: $basic-grey;
}
