.products {
  color: $basic-black;

  background-color: $basic-white;
}

.products__container {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 78px 0 25px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    min-height: 431px;
    padding: 160px 37px 37px;

    border: 2px solid $basic-grey;
  }
}

.products__title {
  margin-bottom: 8px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #111111;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 50%;

    width: 30px;
    height: 2px;
    margin-left: -15px;

    background-color: #d3d3d3;

    @media (min-width: $tablet-width) {
      top: 52px;

      width: 60px;
      margin-left: -30px;
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: 25px;
    left: 50%;

    width: 30px;
    height: 2px;
    margin-left: -15px;

    background-color: #d3d3d3;

    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      top: 52px;

      width: 60px;
      margin-left: -30px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.products__description {
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: $special-dark-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;

    font-size: 16px;
    line-height: 18px;
  }
}

.products__show-more {
  width: 100%;

  color: $special-dark-grey;
  text-transform: uppercase;

  background-color: $basic-grey;
}
