.product {
  color: $basic-black;

  background-color: $basic-white;
}

//.product__container {}

.product__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.product__image {
  color: $basic-black;

  background-color: $basic-white;
}

//.product__info {}

.product__buy {
  display: block;

  text-align: center;
}
