.product {
  color: $basic-black;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }
}

.product__container {
  padding: 19px 0 25px;

  @media (min-width: $tablet-width) {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 39px 39px;
    min-height: 430px;
  }
}

.product__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
  }
}

.product__title {
  width: 76px;
  margin-bottom: 17px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $special-dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 154px;
    margin: 0 auto;
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-bottom: 24px;

    line-height: 21px;
  }
}

.product__title a {
  color: inherit;
}

.product__image-link {
  align-self: center;
  margin: 0 auto;

  color: $basic-black;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -73px;
  }

  @media (min-width: $desktop-width) {
    top: -80px;
  }

  &:focus-visible {
    outline: 2px solid $basic-green-2;
  }
}

.product__image {
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.product__info {
  @media (min-width: $tablet-width) {
    padding-top: 161px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 162px;
  }
}

.product__buy {
  width: 100%;

  font-size: 16px;
  line-height: 20px;
}
