.products {
  color: $basic-black;

  background-color: $basic-white;
}

//.products__container {}

.products__image {
  color: $basic-black;

  background-color: $basic-white;
}

//.products__info {}

.products__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: center;
}

.products__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $special-dark-grey;
  text-align: center;
}

.products__show-more {
  display: block;

  color: $special-dark-grey;
  text-transform: uppercase;
  text-align: center;

  background-color: $basic-grey;
}
