.program-selection {
  color: $basic-black;

  background-color: $basic-white;
}

.program-selection__container {
  padding: 27px 0 32px;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: -9%;
      left: -9%;

      height: 1px;

      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 30px 40px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 0 82px;
  }
}

.program-selection__text {
  margin-bottom: 39px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }
}

//.program-selection__form {}

.program-selection__fieldset {
  &--program {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 75px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 80px;
      margin-bottom: 69px;
    }
  }

  &--contacts {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 67px;
    }
  }

  &--comment {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 61px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 63px;
    }
  }

  &--optional {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
    }
  }
}

.program-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--cat-data {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &--program {
    padding: 23px 0 20px;

    @media (max-width: $mobile-width-only) {
      position: relative;

      &::before {
        content: "";

        position: absolute;
        top: 0;
        right: -9%;
        left: -9%;

        height: 1px;

        background-color: #d9d9d9;
      }

      &::after {
        content: "";

        position: absolute;
        right: -9%;
        bottom: 0;
        left: -9%;

        height: 1px;

        background-color: #d9d9d9;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 24px 28px;

      border: 1px solid #e7e7e7;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 80px;
    }
  }

  &--optional {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: minmax(40px, min-content);
      grid-gap: 32px 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px 80px;
    }
  }
}

.program-selection__item {
  &--cat-data {
    display: flex;
    align-items: center;
    min-height: 45px;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      min-height: 52px;
      margin-bottom: 20px;
    }
  }

  &--program {
    min-height: 30px;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      min-height: 40px;
    }
  }

  &--contacts {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 45px;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      min-height: 52px;
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &--optional {
    min-height: 30px;
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      min-height: 40px;
      margin: 0;
    }
  }
}

.program-selection__item:last-child {
  margin: 0;
}

.program-selection__label,
.program-selection__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__label {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.program-selection__item--contacts .program-selection__label {
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}

.program-selection__label[for="tel"] {
  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.program-selection__input {
  flex-grow: 1;
  width: 100%;
  padding: 13px 15px;

  border: none;
  outline: 1px solid #e7e7e7;
  background-color: $basic-white;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &--error {
    outline: 2px solid #ff8282;
  }

  &--number {
    appearance: textfield;
  }
}

.program-selection__input--number::-webkit-outer-spin-button,
.program-selection__input--number::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

.program-selection__list--cat-data .program-selection__input {
  @media (min-width: $tablet-width) {
    padding: 10px 18px;
  }
}

.program-selection__list--contacts .program-selection__input {
  padding: 12px 50px 13px 15px;

  @media (min-width: $tablet-width) {
    padding: 10px 50px 10px 20px;
  }
}

.program-selection__icon {
  position: absolute;
  z-index: 1;

  &--email {
    right: 16px;

    fill: none;
    stroke: #222222;

    @media (min-width: $tablet-width) {
      right: 13px;
    }

    @media (min-width: $desktop-width) {
      right: 18px;
    }
  }

  &--phone {
    right: 13px;

    fill: #000000;

    @media (min-width: $tablet-width) {
      right: 13px;
    }

    @media (min-width: $desktop-width) {
      right: 18px;
    }
  }
}

.program-selection__input:focus-visible + .program-selection__icon {
  &--email {
    stroke: $basic-green;
  }

  &--phone {
    fill: $basic-green;
  }
}

.program-selection__input--error + .program-selection__icon {
  &--email {
    stroke: #ff8282;
  }

  &--phone {
    fill: #ff8282;
  }
}

.program-selection__legend {
  position: relative;

  margin-bottom: 36px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 22px;
      left: -37px;

      display: block;
      width: 100vw;
      height: 2px;

      background-color: $basic-green;

      transform: translateX(-100%);

      @media (min-width: $tablet-width) {
        left: -40px;
      }
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: 16px;
    right: -25px;

    display: block;
    width: 100vw;
    height: 2px;

    background-color: $basic-green;

    transform: translateX(100%);

    @media (min-width: $tablet-width) {
      top: 22px;
      right: -40px;
    }
  }
}

.program-selection__fieldset--contacts .program-selection__legend {
  min-width: 187px;
  margin-right: 93px;
}

.program-selection__fieldset--optional .program-selection__legend {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.program-selection__textarea {
  width: 100%;
  height: 150px;
  padding: 10px 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 10px 19px;

    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__send-request {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 80px;
  }
}

.program-selection__send-request-button {
  width: 100%;
  margin-bottom: 21px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.program-selection__small {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
