.promo {
  position: relative;
  z-index: 0;

  color: $basic-black;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 696px;
    margin-bottom: 82px;
  }

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;

    width: 100%;
    min-height: 302px;

    background-color: $special-dark-grey;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/index-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      display: block;
      width: 50%;
      min-height: 696px;

      background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/index-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.promo__container {
  min-height: 480px;
  padding: 27px 0 20px;

  @media (min-width: $tablet-width) {
    position: relative;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
  }
}

.promo__title {
  margin-bottom: 25px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 550px;
    margin-bottom: 40px;
    padding-left: 87px;

    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 223px;
    padding-left: 80px;
  }
}

.promo__slogan {
  margin-bottom: 29px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 90px;

    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.promo__image {
  position: relative;
  z-index: 1;

  display: block;

  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 141px;
    left: 448px;
  }
}

.button-choose-program {
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 2;
    top: 260px;
    left: 87px;

    width: 244px;
    min-height: 54px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;

    margin-left: 80px;
  }
}
