.range {
  display: flex;
}

.range__text {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}

.range__input {
  flex-grow: 1;
}
