.range {
  display: flex;
  justify-content: space-between;
}

.range__text {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
}

//.range__input {}
