.result {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    flex-direction: column;
    width: 366px;
  }
}

.result__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(56px, min-content);
  grid-gap: 0 32px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-gap: 0 42px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.result__item {
  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 77px;
  }
}

.result__food-costs {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.result__food-text,
.result__food-price {
  display: inline-block;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.result__food-text {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
    margin-bottom: 0;
  }
}
