.social {
  width: 100%;
  padding: 20px 0;

  color: $basic-black;

  background-color: $basic-grey;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    width: 129px;
    padding: 0;
  }
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  height: 22px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 129px;
    height: 33px;
  }
}

//.social__item {}

.social__link {
  display: block;

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $basic-green;
    outline-offset: 2px;
  }
}

.social__icons {
  display: inline-block;

  vertical-align: middle;

  &--vkontakte {
    width: 23px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $tablet-width) {
    &--vkontakte {
      width: 30px;
      height: 22px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 28px;
      height: 33px;
    }
  }
}

.social__link > .social__icons {
  &--vkontakte,
  &--instagram {
    fill: $special-grey-2;
  }

  &--facebook {
    stroke: $special-grey-2;
  }
}

.social__link:hover > .social__icons {
  &--vkontakte,
  &--instagram {
    fill: $basic-green;
  }

  &--facebook {
    stroke: $basic-green;
  }
}
