.specials {
  color: $basic-black;

  background-color: $basic-white;
}

.specials__container {
  padding: 20px 0 49px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 69px;
  }
}

.specials__title {
  margin-bottom: 40px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }
}

.specials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-gap: 37px 58px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 80px;
  }
}

.specials__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &--one {
    &::before {
      background-image: url("/source/img/icon_leaf.png");
    }
  }

  &--two {
    &::before {
      background-image: url("/source/img/icon_tub.png");
    }
  }

  &--three {
    &::before {
      background-image: url("/source/img/icon_eat.png");
    }
  }

  &--four {
    &::before {
      background-image: url("/source/img/icon_alarm.png");
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 245px;
    min-height: 280px;
    margin: 0;
    padding: 0;
    padding-top: 151px;

    &--one {
      background-image: url("/source/img/1.png");
      background-repeat: no-repeat;
      background-position: 118px 20px;
    }

    &--two {
      background-image: url("/source/img/2.png");
      background-repeat: no-repeat;
      background-position: 118px 20px;
    }

    &--three {
      background-image: url("/source/img/3.png");
      background-repeat: no-repeat;
      background-position: 118px 20px;
    }

    &--four {
      background-image: url("/source/img/4.png");
      background-repeat: no-repeat;
      background-position: 118px 20px;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }
}

.specials__item:last-child {
  margin-bottom: 0;
}

.specials__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    font-size: 16px;
    line-height: 24px;
  }
}
