.specials {
  color: $basic-black;

  background-color: $basic-white;
}

.specials__container {
  padding: 20px 0 49px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0 26px;
  }
}

.specials__title {
  margin-bottom: 40px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }
}

.specials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-gap: 37px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 80px;
  }
}

.specials__item {
  position: relative;
  z-index: 0;

  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &--one {
    &::before {
      background-image: url("../img/icon_leaf.svg");
    }
  }

  &--two {
    &::before {
      background-image: url("../img/icon_tub.svg");
    }
  }

  &--three {
    &::before {
      background-image: url("../img/icon_eat.svg");
    }
  }

  &--four {
    &::before {
      background-image: url("../img/icon_alarm.svg");
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 245px;
    min-height: 280px;
    margin: 0;
    padding: 0;
    padding-top: 151px;
    padding-right: 79px;

    &--one {
      &::after {
        content: "1";

        position: absolute;
        z-index: -1;
        top: 0;
        left: 117px;

        font-family: "Oswald", "Arial", sans-serif;
        font-size: 280px;
        font-weight: 400;
        line-height: 280px;

        color: $basic-grey;
      }
    }

    &--two {
      &::after {
        content: "2";

        position: absolute;
        z-index: -1;
        top: 0;
        left: 112px;

        font-family: "Oswald", "Arial", sans-serif;
        font-size: 280px;
        font-weight: 400;
        line-height: 280px;

        color: $basic-grey;
      }
    }

    &--three {
      &::after {
        content: "3";

        position: absolute;
        z-index: -1;
        top: 0;
        left: 112px;

        font-family: "Oswald", "Arial", sans-serif;
        font-size: 280px;
        font-weight: 400;
        line-height: 280px;

        color: $basic-grey;
      }
    }

    &--four {
      &::after {
        content: "4";

        position: absolute;
        z-index: -1;
        top: 0;
        left: 112px;

        font-family: "Oswald", "Arial", sans-serif;
        font-size: 280px;
        font-weight: 400;
        line-height: 280px;

        color: $basic-grey;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }
}

.specials__item:last-child {
  margin-bottom: 0;
}

.specials__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    font-size: 16px;
    line-height: 24px;
  }
}
